footer {
    width: 100%;
    height: 136px;
}
#footer {
    margin: 0 auto;
    max-width: 1600px;
}

.checkMap {
    margin: 0 auto 40px;
    height: 48px;
    display: flex;
    justify-content: center;
}
.checkMap button {
    height: 18px;
    padding: 14px 19px;    
    border: 1px solid black;
    line-height: 18px;
}
.checkMap button p {
    height: 18px;
}
.footer {
    max-width: 1600px;
    height: 48px;
    display: flex;
    justify-content: space-between;    
    border-top: 1px solid gray;
    line-height: 48px;
}
.footer ul {
    display: flex;
}
.footerInfo li:nth-child(2n) {
    margin: 0 10px;
}
.footerSide li:nth-child(3) {
    margin: 0 20px;
}