.wrap {
    width: 100%;
    white-space:nowrap;
}
header {
    width: 100%;
    position: fixed; 
    top: 0;
    background-color: white;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.main {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 80px;
}

@media (max-width:1100px) {
    .main {
        padding: 0 40px;
    }
}

@media (max-width:960px) {
    
}

@media (max-width:740px) {
    .main {
        padding: 0 24px;
    } 
}