.wrap {
    width: 100%;
    white-space:nowrap;
}
header {
    width: 100%;
    position: fixed; 
    top: 0;
    background-color: white;
    z-index: 10;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
#popup {
    z-index: 1000;
}

@media (max-width:1100px) {
    .main {
        padding: 0 40px;
    }
}

@media (max-width:960px) {
    
}

@media (max-width:740px) {
    .main {
        padding: 0 24px;
    } 
}