.main {
    max-width: 1760px;    
    margin: 200px auto 0;
    padding: 0 80px;     
}
.main-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.5%;
    row-gap: 30px;
}
.listBox {
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}

.swiper-slide-main {
    width: 100%;
    padding-top: 100%;
    position: relative; 
    border-radius: 4%;
    overflow: hidden;
}
.swiper-slide-main svg {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}
.swiper-slide-main .swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.swiper-slide-main .swiper-wrapper .swiper-slide {
    margin: 0;
    object-fit: cover;
} 
.swiper-slide-main img { 
    object-fit: cover;
}
.swiper-slide-main .swiper-pagination, .swiper-slide-main .swiper-button-prev, .swiper-slide-main .swiper-button-next {
    z-index: 1;
}

.listBoxTop {    
    height: 19px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.listBoxName {
    font-weight: 600;
}
.listBoxName, .listBoxInfo, .listBoxDate, .listBoxPrice {
    overflow: hidden;
    text-overflow: ellipsis;
}
.listStar {    
    right: 10px;
    display: flex;;
}
.listStar span {
    margin-right: 2px;
}
.listBoxInfo {
    height: 19px;
    color: #717171;
}
.listBoxDate {
    height: 19px;
    color: #717171;
}
.listBoxPrice {
    height: 19px;
}
.listBoxPrice span {
    font-weight: 600;
}


@media (max-width:1600px) {
    .main-box {       
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.5%;
        row-gap: 30px;
    }
}

@media (max-width:1100px) {
    .main-box {       
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5%;
        row-gap: 30px;
    }
}

@media (max-width:960px) {
    .main-box {       
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5%;
        row-gap: 30px;
    }
}

@media (max-width:550px) {
    .main-box {       
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1.5%;
        row-gap: 30px;
    }
}