.swiper-container {
    max-width: 1500px;   
    height: 80px;
    margin-top: 18px;
}
.swiper-container .swiper-wrapper {
    /* display: flex; */
}
.swiper-container .swiper-slide {
    margin-top: 20px;
    align-items: center;
    font-size: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s;
}
.swiper-container .swiper-slide:hover {
    opacity: 1;
}
.swiper-container .swiper-slide:hover span {
    border-bottom: 2px solid #ddd;
}
.swiper-container .menu-slide-title span {
   padding-bottom: 12px;
}
.swiper-container .active {
    opacity: 1;
}
.swiper-container .menu-slide-photo {
    margin: 0 auto;
    width: 24px;
}
.swiper-container .menu-slide-photo img {
    width: 24px;
}
.swiper-container .menu-slide-title {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}