#menu {
    padding: 0 80px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.slide {
    width: 100%;
    height: 80px;
    overflow: hidden;  
  }  
.slide-box {
    width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    transition-property: transform; /* transform 속성에대해, js코드에 의해 transform 스타일 추가된다*/
    transition-duration: 1s; /* transition 지속시간 */
    display: flex;
}
.menuSlidePhoto {
    margin: 0 auto;
    width: 24px;
}
.menuSlidePhoto img {
    width: 24px;
}
.menuSlideName {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.slide-list:first-child{    
    margin-left: 30px;
}  
.slide-list:not(:last-child){
    float: left;
    margin-right: 30px;
}  
.slide-list {
    margin-right: 30px;
    padding: 4px 0 14px 0;
    opacity: 0.7;
    cursor: pointer;
} 
.slide-list:hover {
    opacity: 1;
    border-bottom: 2px solid #ddd;
}

.prev, .next {
    cursor: pointer;
}
#menu button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
}
#menu button:hover {
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}