.wrap {
    width: 100%;
}

/* header */
.header-mobile {
    display: none;
    height: 80px;
    margin: 0 auto;
    padding: 14px 24px 0;   
}
.mobile-search {
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 54px;
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: 600;    
    cursor: pointer;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.1);
}
.mobile-search div {
    padding: 0 10px;
}
.mobile-search-icon {
    margin-left: 10px;
}
.mobile-search-title {
    width: 100%;
    font-size: 14px;
}
.mobile-search-title span {
    font-size: 12px;
    font-weight: none;
    color: #717171;
}
.mobile-search-control {
    width: 36px;
    height: 36px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-modal {
    /* position: relative; */
    width: 100%;
    height: 100%;      
}
.modal-box {
    width: 220px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.1);
    position: fixed;
    background-color: white;
    top: 80px;
    right: 80px;
    display: none;
    z-index:10;  
}
.modal-show {
    display: block;
}
.modal-box-top {
    height: 100px;
    margin: 8px 0;
    border-bottom: 1px solid #ddd;
}
.modal-hover {
    width: 100%;
    height: 46px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 46px;
    cursor: pointer;
}
.modal-hover:hover {
    background-color: #d8d8d8;
}
.signup {
    font-weight: 600;
}

.header {
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 10;
    background-color: white;
    white-space: nowrap; 
}
.header-top {
    width: 100%;
    border-bottom: 1px solid #ddd;    
}
.header-top-menu {
    max-width: 1760px;
    height: 80px;
    margin: 0 auto;
    padding: 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #222;
}
.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-logo svg {
    fill: #FF385C;
    cursor: pointer;
}
.header-search {
    height: 48px;    
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;    
}
.header-search:hover {
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
}
.header-search button {
    border: none;
    background: transparent;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-search button:nth-child(5) {
    font-weight: 400;
    color: #717171;
}
.header-search span {
    width: 1px;
    height: 24px;
    background-color: #ddd;
}
.header-search-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ff385c;
    margin: 7px 7px 7px 0;
    padding: 10px;    
}
.header-etc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-host {
    height: 42px;
    border-radius: 42px;
    padding: 0 10px;
    line-height: 42px;
    cursor: pointer;
}
.header-host:hover {
    background-color: #f7f7f7;    
}
.header-global {
    height: 42px;
    border-radius: 42px;
    padding: 13px;
    cursor: pointer;
}
.header-global:hover {
    background-color: #f7f7f7;
}
.header-login {
    height: 42px;
    margin-left: 10px;
    padding: 5px 5px 5px 12px;
    border: 1px solid #ddd;
    border-radius: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
.header-login:hover{
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
}
.header-login svg:first-child {
    margin-right: 10px;
}
.header-login svg:nth-child(2){
    fill: #717171;
}

.header-bottom {
    height: 78px;
    margin-top: 20px;
}

.header-bottom {
    width: 100%; 
}
.header-bottom-menu {
    max-width: 1760px;
    height: 80px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
}
.header-slide {
    width: 100%;
    flex-grow: 1;
}
.header-filter {
    width: 80px;
    height: 48px;
    margin-left: 20px;
    padding: 0 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    flex-shrink: 0;
    font-size: 12px;
}


/* main */
.main {
    max-width: 1760px;
    margin: 220px auto 140px;
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.5%;
    row-gap: 30px;
}
.list-box {
    cursor: pointer;
}
.slide {
    width: 100%;
    padding-top: 100%;
    position: relative; 
    border-radius: 4%;
    overflow: hidden;
}
.heart-icon svg {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}
.slide-img img {
    width: 100%;
    height: 100%;
    margin: 0;  
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;    
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.list-title {    
    height: 19px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.list-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-star {    
    right: 10px;
    display: flex;
}
.list-star span {
    margin-right: 2px;
}
.list-distance {
    height: 19px;
    color: #717171;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-data {
    height: 19px;
    color: #717171;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-price {
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-price span {
    font-weight: 600;
}



/* footer */
.footer {
    width: 100%;
    position: fixed; 
    bottom: 0;
    z-index: 10;
}
.footer-map {
    margin-bottom: 40px;
}
.footer-map button {
    width: 150px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;
    font-weight: 600;
    border-radius: 48px;
    background-color: #222;
    border: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}
.footer-map button:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.1);
}
.footer-map button svg {
    margin-left: 10px;
}
.footer-bottom {
    width: 100%;
    border-top: 1px solid #ddd;    
    background-color: white;
}
.footer-menu {
    max-width: 1760px;
    margin: 0 auto;
    padding: 13px 80px 14px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #222;   
}
.footer-menu a {
    margin-right: 5px;
    cursor: pointer;
}
.footer-menu span {
    margin-right: 5px;
}
.footer-menu a:hover {
    text-decoration: underline;
}
.footer-menu-right {
    font-weight: 600;
    white-space:nowrap;
    display: flex;
}
.footer-menu-right div {
    display: flex;
}
.footer-menu-right svg  {
    margin-left: 5px;
    cursor: pointer;
}
.footer-menu-right a {
    margin: 0 10px;
}
.fmra {
    margin-left: 16px;
}
.footer-menu-right span {
    margin-left: 20px;
}
.footer-info {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 80px 8px;
}
.footer-info-content {
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid #ddd;
    font-size: 10px;
    line-height: 12px;
    color: #717171;
}

.footer-mobile {
    display: none;
    background-color: white;    
}
.footer-mobile-box {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 10px;  
    color: #717171;
}
.footer-mobile ul {
    margin: 0 30px;    
    cursor: pointer; 
}
.footer-mobile ul li {
    margin-top: 5px;       
}
.footer-mobile svg {
    margin: 0 auto;
}
.footer-mobile-search {
    stroke: #FF385C;
}

/* popup */

.popup-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
}
.show-global {
    opacity: 1;
    z-index: 100;
    transition: all .2s;
}
.global-popup-window {
    position: relative;
    width: 100%;
    height: 100%;
}
.global-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    /* 임시 지정 */
    width: 1032px;
    height: 805px;
    /* 초기에 약간 아래에 배치 */
    /* transform: translate(-50%, -40%); */
    transform: translate(-50%, -50%);
    transition: all .5s;
    overflow: hidden;
}
.global-popup-top button {
    margin-left: 20px;
    width: 30px;
    height: 80px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.global-popup-top button:hover {
    background-color: #f7f7f7;
}
.global-tab {
    overflow: auto;
}
.global-tab ul {
    height: 70px;
    margin: 0 20px;
    display: flex;
    /* border-bottom: 1px solid #f7f7f7; */
}
.global-tab ul li {
    margin-right: 20px;
    font-size: 14px;
}
.global-tab ul li button {
    padding: 10px;
    border: none;
    background-color: white;
    font-weight: 600;  
    color: #7f7f7f;
    border-radius: 6px;
    cursor: pointer;
}
.global-tab ul li button:hover {
    background-color: #f7f7f7;
}
.global-tab ul .current button {
    color: #222;    
}

.popup-filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.popup-filter-window {
    margin: 40px auto;
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
.popup-filter-top {
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.popup-filter-window button {
    background: none;
    border: none;    
    cursor: pointer;
}
.popup-filter-top button {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.popup-filter-top button:hover {
    background-color: #f7f7f7;
}
.popup-filter-content {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    overflow: auto;
}
.popup-filter-bottom {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.pfb-buttom1 {
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
}
.pfb-buttom1:hover {
    background-color: #f7f7f7;
}
.popup-filter-bottom .pfb-buttom2 {
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #222;
}
.pfb-buttom2:hover {
    background-color: black;
}
.popup-lang, .popup-curr, .popup-etc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;    
    /* 숨기기 */
    z-index: -1;    
    opacity: 0;
}
.show, .show1, .show2 {
    opacity: 1;    
    z-index: 100;
    transition: all .2s;
}
.popup-window {
    position: relative;
    width: 100%;
    height: 100%;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    /* 임시 지정 */
    max-width: 1032px;
    height: 805px;
    /* 초기에 약간 아래에 배치 */
    /* transform: translate(-50%, -40%); */
    transform: translate(-50%, -50%);
    transition: all .5s;
    overflow: hidden;
}
.show .popup, .show1 .popup, .show2 .popup-etc-cont {
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.popup-top {
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #f7f7f7; 
    display: table-cell;
    vertical-align: middle;
}
.popup-top button {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.popup-etc-cont-top button {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.popup-top button:hover, .popup-etc-cont-top button:hover {
    background-color: #f7f7f7;
}
.popup-content {
    overflow: auto;
}
.popup-title {
    margin: 24px;
    font-size: 22px;
    font-weight: 600;
    color: #222;
}
.translation {
    margin: 24px;
    padding: 16px;
    width: 380px;
    background-color: #f7f7f7;
    border-radius: 6px;
    display: flex;
}
.translation span {    
    font-size: 16px;
    color: #222;
}
.translation p {
    margin-top: 10px;
    font-size: 14px;
    color: #717171;
}
.wrapper {
    margin-left: 20px;
  }
  #switch {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }  
  .switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 36px;
    background: #ddd;
    border-radius: 20px;
    transition: 0.2s;
  }
  .switch_label:hover {
    background: #222;
  }
  .onf_btn {
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: white;
    transition: 0.2s;
  }
  /* checking style */
  #switch:checked+.switch_label {
    background: #ddd;
  }  
  /* move */
  #switch:checked+.switch_label .onf_btn {
    left: 25px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
  }
.popup-cont {
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}
.popup-cont-box {
    margin-bottom: 20px;
    padding: 8px;
    width: 184px;
    height: 56px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}
.popup-cont-box:hover {    
    background-color: #f7f7f7;
}
.mark1 {
    padding: 7px;
    width: 184px;
    height: 56px;
    border-radius: 6px;
    border: 1px solid black;
}
.popup-cont-box span p {
    margin: 2px 0 2px 10px;
}
.curr-country {
    color: #222;
}
.curr {
    color: #717171;
}

.popup-etc-cont {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    /* 임시 지정 */
    width: 100%;
    height: 400px;
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, 0%);
}
.popup-etc-cont-top {
    width: 100vw;
    height: 60px;   
    display: table-cell;
    vertical-align: middle;
}
.popup-etc-list {
    margin: 0 200px 0 80px;
    font-size: 14px;
    color: #222;
    display: flex;
    justify-content: space-between;
}
.popup-etc-list ul li:first-child {
    font-weight: 600;
}
.popup-etc-list li {
    margin-bottom: 24px;
}


/* media header */
@media (max-width:1100px) {
    .header-top-menu {
        padding: 0 40px;
    }
    .header-bottom-menu {
        padding: 0 40px;
    }
    .logo-name {
        display: none;
    }
    .modal-box {        
        right: 40px;
    }
}
@media (max-width:960px) {
    .header-top-menu {
        display: flex;
    }
    .header-search {
        justify-content: flex-start;
    }
}
@media (max-width:740px) {
    .header {
        border-bottom: none;
    }
    .header-mobile {
        display: block;
    }
    .header-top {
        display: none;
    }
    .header-bottom-menu {
        padding: 0 24px;
    } 
    .header-filter {
        display: none;
    }
}

/* media main */
@media (max-width:1600px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width:1100px) {
    .main {
        padding: 0 40px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:960px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:740px) {
    .main {
        padding: 0 24px;
    } 
}
@media (max-width:550px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* media footer */
@media (max-width:1100px) {
    
}
@media (max-width:960px) {
    
}
@media (max-width:740px) {
    .footer-map button {
        width: 95px;
    }
    .footer-map button span {
        display: none;
    }
    .footer-bottom {        
        display: none;
    }
    .footer-mobile {
        display: block;
    }    
}


/* media popup */
@media (max-width:1100px) {
    .popup-cont {
        grid-template-columns: repeat(4, 1fr);    
    }
}
@media (max-width:900px) {
    .popup-cont {
        grid-template-columns: repeat(3, 1fr);    
    }
}
@media (max-width:740px) {
    .popup {
        display: none;
    }
}