<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/layout.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/slide.css">
  <!-- <link rel="stylesheet" href="../../css/slider.css"> -->
  <link rel="stylesheet" href="../../css/popup.css">
  <script type="text/javascript" src="../../js/slide.js"></script>
  <!-- <script type="text/javascript" src="../../js/slider.js"></script>    -->
</head>
<body>
  <div class="header">
    <div class="headerTop">
        <div class="headerTopBox">
            <div class="logo">
                <img src="../../image/logo-airbnb.svg" alt="">
            </div>
            <div class="search">
                <ul>
                    <li>어디든지</li>
                    <li></li>
                    <li>언제든 일주일</li>
                    <li></li>
                    <li>게스트 추가</li>
                    <li class="searchIcon"><img src="../../image/icon-search.svg" alt=""></li>
                </ul>
            </div>
            <div class="loginMenu">
                <div class="host">호스트 되기</div>
                <div class="lang"><img src="../../image/icon-global.svg" alt=""></div>
                <div class="login">
                    <button><img class="icon-menu" src="../../image/icon-menu.svg" alt=""><img class="icon-person" src="../../image/icon-person.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>
    <div class="headerMenu">
        <!-- <div class="menu">          
            <div class="controller">                 
              <span class="prev">&lang;</span>  
            </div>
            <div id="slideShow">
              <ul class="slides">                  
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-design.jpg"></div>
                  <div class="menuSlideName">디자인</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-lake.jpg"></div>
                  <div class="menuSlideName">호숫가</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-nationalPark.jpg"></div>
                  <div class="menuSlideName">국립공원</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-logCabin.jpg"></div>
                  <div class="menuSlideName">통나무집</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-island.jpg"></div>
                  <div class="menuSlideName">섬</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>   
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>
                <li>
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </li>           
              </ul>
            </div> 
            <div class="controller contR"> 
              <span class="next">&rang;</span>
            </div>
            <div class="menuFilter">
                <div class="menuFilterBox"><img class="icon-menu" src="../../image/icon-filter.svg" alt="">필터</div>
            </div>
        </div> -->
        <div id="menu">
          <button class="prev">&lt;</button>
          <div class="slide">
              <div class="slide-box">
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-design.jpg"></div>
                  <div class="menuSlideName">디자인</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-lake.jpg"></div>
                  <div class="menuSlideName">호숫가</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-nationalPark.jpg"></div>
                  <div class="menuSlideName">국립공원</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-logCabin.jpg"></div>
                  <div class="menuSlideName">통나무집</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-island.jpg"></div>
                  <div class="menuSlideName">섬</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
                <div class="slide-list">
                  <div class="menuSlidePhoto"><img src="../../image/menu-icon-beach.jpg"></div>
                  <div class="menuSlideName">해변근처</div>
                </div>
              </div>
          </div>
          <button class="next">&gt;</button>
          <div class="menuFilter">
            <div class="menuFilterBox"><img class="icon-menu" src="../../image/icon-filter.svg" alt="">필터</div>
        </div>
        </div>
    </div>
  </div>
  <script type="text/javascript" src="../../js/includeHTML.js"></script>
  <script type="text/javascript" src="../../js/slide.js"></script>
  <!-- <script type="text/javascript" src="../../js/slider.js"></script> -->
  <script type="text/javascript" src="../../js/popup.js"></script>
</body>
</html>
